h1{
  color: red;
}
  
.header {
background-color: blue;
height: 100px;
padding-top: 20px;
}
.header img{
  

}
.nav{
  background-color: rgb(118, 118, 61);
  height: 80px;

}
.nav li{
  display: inline-block;
  line-height: 80px;
  font-size: 18px;
  color: rgb(36, 36, 55);
  margin-right: 30px;
}
  .nav li a{
    color: inherit;
    text-decoration: none;
    transition: all 0,5s;

  }
.nav li a :hover{
  border-bottom: 3px solid rgb(228, 110, 110);
}

.wraper{
  max-width: 1200px;
  margin: 0 auto;
  height: inherit;
}
.content{
background-color: antiquewhite;
overflow: hidden;
/* height: 500px;*/


}
.content .content-img{
width: 300px;
float: right;
padding:  O px 20px 20px 0px;

}

.item{
  width: 25%;
  padding: 20px 10px;
  background-color: rgb(225, 187, 137);
  float: left;
  margin: 0px 10px;
  text-align: center;
  border-radius: 50%
}
.item img{
width: 50%;
padding: 2Opx 0px;
}

.item a{
text-decoration: none;
text-align: center;

}

.item p{

}
.footer{
background-color: blue;
height: auto;
}